
body {
    height: 1000px;
    padding: 0;
    margin: 0;
}

#header {
    background: #bada55;
    color: white;
    font-family: Droid Sans;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    width:100%;
    box-sizing:border-box;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}